name: Build iOS

on: [push]

jobs:
 build:
   runs-on: macos-latest

   steps:
   - uses: actions/checkout@v3

   - name: Install Node
     uses: actions/setup-node@v3
     with:
       node-version: 18

   - run: npm install
   - run: npx cap add ios
   - run: npx cap sync ios